UNIQUE_NAMESPACE=microservices
IMAGE_REPOSITORY=docker-shared-images.artifactory.mycompany.com
PROXY_USER=sa-artifactory
PROXY_PASSWORD=+++++ ASK FOR THE PASSWORD FROM A TRUSTED PARTY +++++
PROXY_FQDN=myproxy.mycompany.com
PROXY_PORT=8080
